{% extends 'user_navigation.html' %}
{% load static %}
{% block body %}

{% ifequal error "no" %}
<script>
    alert('Your Password Updated Sucessfully');
    window.location=("{% url 'Logout' %}");
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert('Something Went Wrong, Try Again'); 
</script>
{% endifequal %}

<form class="container mt-5" method="POST">
{% csrf_token %}
<label><b>New Password</b></label>
<input type="password" class="form-control" name="newpassword" required="true">
<label><b>Confirm New Password</b></label>
<input type="password" class="form-control" name="confirmpassword" required="true">
<input type="submit" class="btn btn-primary">
</form>


{%  include 'footer.html' %}
{% endblock %}
