*******
very important
----------------
'''
class carts(models.Model):
    user=models.ForeignKey(User,on_delete=models.CASCADE)
    customer=models.ForeignKey('signup', on_delete=models.CASCADE,null=True)
    product=models.ForeignKey('products',on_delete=models.CASCADE,null=True)
    name  =  models.CharField(max_length=30)
    price = models.IntegerField(null=True)
    image = models.FileField(null=True)



    cart=models.ForeignKey('carts',on_delete=models.CASCADE,null=True)
  ----------  
def view_booking(request):
    if not request.user.is_authenticated:
        return redirect('user_home')
    
    cart=carts.objects.all()
    order=orders.objects.all()
    ordered_products=[]
    ordered_bys=[]
    for o in order:
        
        u=User.objects.get(id=request.user.id)
        ordered_product=products.objects.all().filter(id=o.user.id)
        ordered_by=signup.objects.all().filter(id = o.user.id)


        ordered_products.append(ordered_product)
        ordered_bys.append(ordered_by)
    return render(request,'view_booking.html',{'data':zip(ordered_products,ordered_bys,order),'user':u,'cart':cart,'order':order})
def my_orders(request):
    customer=signup.objects.get(user_id=request.user.id)
    order=orders.objects.all().filter(customer_id = customer)
    cart=carts.objects.all()
    ordered_products=[]
    for o in order:
        ordered_product=products.objects.all().filter(id=o.user.id)
        ordered_products.append(ordered_product)
        cart= carts.objects.all()
    return render(request,'my_orders.html',{'data':zip(ordered_products,order),'cart':cart,'order':order,'customer':customer})

def add_to_cart(request,id):
    u=User.objects.get(id=request.user.id)
    product=products.objects.all()
    pro = products.objects.get(id=id)
    customer=signup.objects.get(user_id=request.user.id)
    val=carts(user=u,name=pro.productname,price=pro.productprice, image=pro.productimage)
    val.save()
    c = carts.objects.all()
    cart_item_count = carts.objects.count()     
    response = render(request, 'product.html',{'cart_item_count':cart_item_count,'product':product,'customer':customer})   
    if 'product_ids' in request.COOKIES:
        product_ids = request.COOKIES['product_ids']
        if product_ids=="":
            product_ids=str(id)
        else:
            product_ids=product_ids+"|"+str(id)
        response.set_cookie('product_ids', product_ids)
    else:
        response.set_cookie('product_ids', id)

    prod=products.objects.get(id=id)
    print (cart_item_count)
    return response


def my_cart(request):
    if not request.user.is_authenticated:
        return redirect('user_home')
    if 'product_ids' in request.COOKIES:
        product_ids = request.COOKIES['product_ids']
        counter=product_ids.split('|')
        product_count_in_cart=len(set(counter))
        
    else:
        product_count_in_cart=0
    product=None
    tot=0
    cart = carts.objects.all()
    cart_item_count = carts.objects.count()
    total= carts.objects.annotate(total=Sum('price'))
    summ=0
    for i in total:
                summ+=i.price
    tot = summ
    print(tot)
    if 'product_ids' in request.COOKIES:
        product_ids = request.COOKIES['product_ids']
        if product_ids != "":
            product_id_in_cart=product_ids.split('|')
            product=products.objects.all().filter(id__in = product_id_in_cart)    
    response=render(request,'my_cart.html',{'cart':cart,'amt':tot,'product_count_in_cart':product_count_in_cart,'product':product})

    return response

def remove_from_cart(request,id):
    total=0
    u=User.objects.get(id=request.user.id)
    customer=signup.objects.get(user_id=request.user.id)
    c = carts.objects.get(id=id)
    cart_item_count = carts.objects.count()
    c.delete()
    cart=carts.objects.all()
    product=products.objects.filter(id=customer.id)
    total= carts.objects.annotate(total=Sum('price'))
    summ=0
    for i in total:
                        summ+=i.price
    amount = summ
    print(amount)  
    value=""


    print(value)
    response = render(request, 'my_cart.html',{'product':product,'cart':cart,'amt':amount,'cart_item_count':cart_item_count})
    if value=="":
            response.delete_cookie('product_ids')
    response.set_cookie('product_ids',value)
    return response

'''

'''
def customer_address(request):   
    product_in_cart=False
    if 'product_ids' in request.COOKIES:
        product_ids = request.COOKIES['product_ids']
        if product_ids != "":
            product_in_cart=True
    if 'product_ids' in request.COOKIES:
        product_ids = request.COOKIES['product_ids']
        counter=product_ids.split('|')
        product_count_in_cart=len(set(counter))
    else:
        product_count_in_cart=0
        error=" "
    d={}
    if request.method == "POST" : 
            e=request.POST['email']
            m=request.POST['mobile']
            a=request.POST['add']
            total=0
            if 'product_ids' in request.COOKIES:
                product_ids = request.COOKIES['product_ids']
                if product_ids != "":
                    product_id_in_cart=product_ids.split('|')           
            total= carts.objects.annotate(total=Sum('price'))
            summ=0
            for i in total:
                        summ+=i.productprice
            amount = summ
            print(amount)        
            cart= carts.objects.all()
            response = render(request, 'payment.html',{'total':amount,'cart':cart})
            response.set_cookie('email',e)
            response.set_cookie('mobile',m)
            response.set_cookie('address',a)
            return response   
    d={'product_in_cart':product_in_cart,'product_count_in_cart':product_count_in_cart}
    return render(request,'customer_address.html',d)

def payment_success(request):
    customer=signup.objects.get(user_id=request.user.id)
    cart= carts.objects.all()
    #product=products.objects.all().get(id__in=cart)
    product=None
    email=None
    mobile=None
    address=None
    ordered_products=[]
    ordered_bys=[]
    error={}
    if 'product_ids' in request.COOKIES:
        product_ids = request.COOKIES['product_ids']
        if product_ids != "":
            product_id_in_cart=product_ids.split('|')
            cart = carts.objects.all()
            cart_item_count = carts.objects.count()
            product=products.objects.all().filter(id__in = product_id_in_cart)
    if 'email' in request.COOKIES:
        email=request.COOKIES['email']
    if 'mobile' in request.COOKIES:
        mobile=request.COOKIES['mobile']
    if 'address' in request.COOKIES:
        address=request.COOKIES['address']
    for o in cart:
        ordered_product=carts.objects.all().get(id=o.id)
        ordered_products.append(ordered_product)       
    #cart= carts.objects.all()
    u=User.objects.get(id=request.user.id)
    
    for p in product:
        value=orders(user=u,product=p,customer=customer,status='Pending',email=email,mobile=mobile,address=address)
    value.save()
    
    response = render(request,'payment_success.html')
    response.delete_cookie('product_ids')
    response.delete_cookie('email')
    response.delete_cookie('mobile')
    response.delete_cookie('address')
    return response


'''






********
{% extends 'navigation.html' %}
{% block body %}
{% load static %}
path('search', views.search,name='search'),
path('my_cart', views.my_cart,name='my_cart'),
    path('remove_from_cart/<int:pk>', views.remove_from_cart,name='remove_from_cart'),
    path('customer_address', views.customer_address,name='customer_address'),
    path('payment_success', views.payment_success,name='payment_success'),
{%  include 'footer.html' %}
{% endblock %}
<!--
    <script>
    function checkpass(){
        if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value);
        {
            alert('New Passsword and Confirm Password field does not match');
            document.changepassword.confirmpassword.focus();
            return false;
        }
        return true;
    }
</script>
-->
   
product=products.objects.filter(id__in=cart_item_count)
for p in product:
            total=total+p.productprice

            if 'product_ids' in request.COOKIES:
            product_ids = request.COOKIES['product_ids']
            if product_ids != "":
                

            u=User.objects.get(id=request.user.id)
            orders.objects.get_or_create(user=u,customer=customer,product=product,status='Pending',email=email,mobile=mobile,address=address)

            u=User.objects.get(id=request.user.id)
            value=orders(user=u,email=e,amount=amount,address=a,status="Pending")
            value.save()
            cart = carts.objects.all()
            cart.delete()


        
    pro =carts.objects.get(id=id)
    pro.delete()
    return redirect('my_cart')


    ***


    
def view_booking(request):
order=orders.objects.all()
ordered_products=[]
ordered_bys=[]
for o in order:
    
    ordered_product=products.objects.all().filter(id=o.product.id)
    ordered_by=signup.objects.all().filter(id = o.user.id)
    ordered_products.append(ordered_product)
    ordered_bys.append(ordered_by)
return render(request,'view_booking.html',{'data':zip(ordered_products,ordered_bys,order)})


def my_orders(request):
customer=signup.objects.get(user_id=request.user.id)
order=orders.objects.all().filter(customer_id = customer)

ordered_products=[]
for o in order:
    ordered_product=products.objects.all().filter(id=o.customer.id)
    ordered_products.append(ordered_product)

return render(request,'my_orders.html',{'data':zip(ordered_products,order)})

def search(request):
# whatever user write in search box we get in query
query = request.GET['query']
product=products.objects.all().filter(name__icontains=query)
if 'product_ids' in request.COOKIES:
    product_ids = request.COOKIES['product_ids']
    counter=product_ids.split('|')
    product_count_in_cart=len(set(counter))
else:
    product_count_in_cart=0

# word variable will be shown in html when user click on search button
word="Searched Result :"

if request.user.is_authenticated:
    return render(request,'user_home.html',{'product':product,'word':word,'product_count_in_cart':product_count_in_cart})
return render(request,'user_home.html',{'product':product,'word':word,'product_count_in_cart':product_count_in_cart})


# any one can add product to cart, no need of signin
def add_to_cart(request,id):
product=products.objects.all()

#for cart counter, fetching products ids added by customer from cookies
if 'product_ids' in request.COOKIES:
    product_ids = request.COOKIES['product_ids']
    counter=product_ids.split('|')
    product_count_in_cart=len(set(counter))
else:
    product_count_in_cart=1

response = render(request, 'product.html',{'product':product,'product_count_in_cart':product_count_in_cart})

#adding product id to cookies
if 'product_ids' in request.COOKIES:
    product_ids = request.COOKIES['product_ids']
    if product_ids=="":
        product_ids=str(id)
    else:
        product_ids=product_ids+"|"+str(id)
    response.set_cookie('product_ids', product_ids)
else:
    response.set_cookie('product_ids', id)

product=products.objects.get(id=id)
return response



# for checkout of cart
def my_cart(request):
#for cart counter
cart=carts.objects.all()
if 'product_ids' in request.COOKIES:
    product_ids = request.COOKIES['product_ids']
    counter=product_ids.split('|')
    product_count_in_cart=len(set(counter))
else:
    product_count_in_cart=0

# fetching product details from db whose id is present in cookie
product=None
amount=0
if 'product_ids' in request.COOKIES:
    product_ids = request.COOKIES['product_ids']
    if product_ids != "":
        product_id_in_cart=product_ids.split('|')
        product=products.objects.all().filter(id__in = product_id_in_cart)

        #for total price shown in cart
        for p in product:
            amount=amount+p.productprice

return render(request,'my_cart.html',{'product':product,'amt':amount,'product_count_in_cart':product_count_in_cart,'cart':cart})


def remove_from_cart(request,id):
#for counter in cart
if 'product_ids' in request.COOKIES:
    product_ids = request.COOKIES['product_ids']
    counter=product_ids.split('|')
    product_count_in_cart=len(set(counter))
else:
    product_count_in_cart=0

# removing product id from cookie
total=0
if 'product_ids' in request.COOKIES:
    product_ids = request.COOKIES['product_ids']
    product_id_in_cart=product_ids.split('|')
    product_id_in_cart=list(set(product_id_in_cart))
    product_id_in_cart.remove(str(id))
    product=products.objects.all().filter(id__in = product_id_in_cart)
    #for total price shown in cart after removing product
    for p in product:
        total=total+p.productprice

    #  for update coookie value after removing product id in cart
    value=""
    for i in range(len(product_id_in_cart)):
        if i==0:
            value=value+product_id_in_cart[0]
        else:
            value=value+"|"+product_id_in_cart[i]
    response = render(request, 'my_cart.html',{'product':product,'amount':total,'product_count_in_cart':product_count_in_cart})
    if value=="":
        response.delete_cookie('product_ids')
    response.set_cookie('product_ids',value)
    return response



def customer_address(request):
d={}    
c = carts.objects.all()
cart_item_count = carts.objects.count()
if request.method == "POST" : 
        e=request.POST['email']
        m=request.POST['mobile']
        a=request.POST['add']
        total=0
        
        total= carts.objects.annotate(total=Sum('price'))
        print(total)
        summ=0
        for i in total:
            summ+=i.price
        amount = summ
        
        u=User.objects.get(id=request.user.id)
        value=orders(user=u,email=e,amount=amount,address=a,status="Pending")
        value.save()
        cart = carts.objects.all()
        cart.delete()

        response = render(request, 'payment.html',{'amt':amount})
        return response
d={'product_count_in_cart':cart_item_count}
return render(request,'customer_address.html',d)


def payment_success(request):
customer=signup.objects.get(user_id=request.user.id)
prod=None
email=None
mobile=None
address=None
cart_item_count = carts.objects.count()
total= carts.objects.annotate(total=Sum('price'))
if request.method == "POST" :
    
        total= carts.objects.annotate(total=Sum('price'))
        print(total)
        summ=0
        for i in total:
            summ+=i.price
        amount = summ
        prod=products.objects.all().filter(id__in = request.user.id)
        for p in prod:
            u=User.objects.get(id=request.user.id)
            
            value=orders(user=u,email=email,amount=amount,address=address,status="Pending",mobile=mobile,p=p)
            value.save()
            cart = carts.objects.all()
            cart.delete()
response = render(request,'payment_success.html')
return response


****
def view_booking(request):
    if not request.user.is_authenticated:
        return redirect('user_home')
    
    cart=carts.objects.all()
    order=orders.objects.all()
    ordered_products=[]
    ordered_bys=[]
    for o in order:
        
        u=User.objects.get(first_name=request.user.id)
        ordered_product=products.objects.all().filter(id=o.user.id)
        ordered_by=signup.objects.all().filter(id = o.user.id)


        ordered_products.append(ordered_product)
        ordered_bys.append(ordered_by)
    return render(request,'view_booking.html',{'data':zip(ordered_products,ordered_bys,order),'user':u,'cart':cart,'order':order})
    

    ***
    def remove_from_cart(request, id):
        customer=signup.objects.get(user_id=request.user.id)
        product = products.objects.get(id=customer.id)
        try:
            preexisting_order = orders.objects.get(product=product,cart=request.user.id)
            if preexisting_order.quantity > 1:
                preexisting_order.quantity -= 1
                preexisting_order.save()
            else:
                preexisting_order.delete()
        except orders.DoesNotExist:
            pass
        return render(request, 'my_cart.html',{'product':product})

        ****
        def add_to_cart(request,id):
    u=User.objects.get(id=request.user.id)
    product=products.objects.all()
    pro = products.objects.get(id=id)
    customer=signup.objects.get(user_id=request.user.id)
    val=carts(user=u,name=pro.productname,price=pro.productprice, image=pro.productimage,product=pro)
    val.save()
    c = carts.objects.all()
    cart_item_count = carts.objects.count()     
    if 'product_ids' in request.COOKIES:
        product_ids = request.COOKIES['product_ids']
        counter=product_ids.split('|')
        product_count_in_cart=len(set(counter))
    else:
        product_count_in_cart=1
    response = render(request, 'product.html',{'cart_item_count':cart_item_count,'product':product,'customer':customer})   
    if 'product_ids' in request.COOKIES:
        product_ids = request.COOKIES['product_ids']
        if product_ids=="":
            product_ids=str(id)
        else:
            product_ids=product_ids+"|"+str(id)
        response.set_cookie('product_ids', product_ids)
    else:
        response.set_cookie('product_ids', id)

    prod=products.objects.get(id=id)
    print (cart_item_count)
    return response


    
'''
def add_to_cart(request,id):
    customer=signup.objects.get(user_id=request.user.id)
    u=User.objects.get(id=request.user.id)
    pro = products.objects.get(id=id)
    val=carts(user=u,name=pro.productname,price=pro.productprice, image=pro.productimage)
    val.save()
    return redirect('user_home')

def my_cart(request):
    customer=signup.objects.get(user_id=request.user.id)
    u=User.objects.get(id=request.user.id)
    c = carts.objects.all()
    cart_item_count = carts.objects.count()    
    total= carts.objects.annotate(total=Sum('price'))
    summ=0
    for i in total:
        summ+=i.price
    amount = summ
    print(amount)
    return render(request, 'my_cart.html',{'c':c,'cart_item_count':cart_item_count,'amt':amount})


def remove_from_cart(request,id):
    total=0
    u=User.objects.get(id=request.user.id)
    customer=signup.objects.get(user_id=request.user.id)
    c = carts.objects.get(id=id)
    cart_item_count = carts.objects.count()
    c.delete()
    
    product=products.objects.filter(id__in=cart_item_count)
    for p in product:
                total=total+p.productprice
    
    response = render(request, 'my_cart.html',{'product':product,'c':c,'total':total,'cart_item_count':cart_item_count})
    return response


def customer_address(request):
    d={}    
    c = carts.objects.all()
    cart_item_count = carts.objects.count()
    if request.method == "POST" : 
            e=request.POST['email']
            m=request.POST['mobile']
            a=request.POST['add']
            total=0
            
            total= carts.objects.annotate(total=Sum('price'))
            print(total)
            summ=0
            for i in total:
                summ+=i.price
            amount = summ
            
            u=User.objects.get(id=request.user.id)
            value=orders(user=u,email=e,amount=amount,address=a,status="Pending")
            value.save()
            cart = carts.objects.all()
            cart.delete()

            response = render(request, 'payment.html',{'amt':amount})
            return response
    d={'product_count_in_cart':cart_item_count}
    return render(request,'customer_address.html',d)


def payment_success(request):
    customer=signup.objects.get(user_id=request.user.id)
    prod=None
    email=None
    mobile=None
    address=None
    cart_item_count = carts.objects.count()
    total= carts.objects.annotate(total=Sum('price'))
    if request.method == "POST" :
        
            total= carts.objects.annotate(total=Sum('price'))
            print(total)
            summ=0
            for i in total:
                summ+=i.price
            amount = summ
            prod=products.objects.all().filter(id__in = request.user.id)
            for p in prod:
                u=User.objects.get(id=request.user.id)
                
                value=orders(user=u,email=email,amount=amount,address=address,status="Pending",mobile=mobile,p=p)
                value.save()
                cart = carts.objects.all()
                cart.delete()
    response = render(request,'payment_success.html')
    return response

'''