{% extends 'user_navigation.html' %}
{% load static %}
{% block body %}
<br><br>
<div class="container col-sm-5">
<h3 class='alert alert-success'>Send Us Your Valuable Feedback !</h3>


<form method="post">
    {% csrf_token %}
    <label>Name <span class="required">*</span></label>
    <input type="text" class="form-control" placeholder="Enter Name" name="name" required>
    <label>Your Feedback <span class="required">*</span></label>
    <textarea class="form-control" name="feed"required></textarea>
    <input type="submit" class="btn btn-info mt-2 align-center" value="Send Feedback">
  </form>

</div>
<br><br>

{% ifequal error "no" %}
<script>
    alert("Your Feedback sent Successfully");
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Invalid Login Credentials, Try Again...");
</script>
{% endifequal %}

{%  include 'footer.html' %}
{% endblock %}
